:root {
  /* Colors */
  --main: #71717A;
  --secondary: #27272A;
}

body {
  padding-left: 5.5vw;
  padding-right: 5.5vw;
  background-color: var(--main);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Header */

.header {
  display: flex;
  justify-content: right;
  font-weight: 600;
}

ul {
  display: flex;
  justify-content: right;
  list-style-type: none;
  gap: 1rem;
}

.header--link {
  text-decoration: none;
  color: var(--secondary);
}

.header--link:hover {
  text-decoration: underline;
}

/* Main */

.main {
  height: 100vh;
  position: relative;
}

.main--title {
  font-weight: bolder;
  font-size: 6rem;
}

.main--profile-pic {
  border-radius: 50%;
  height: 400px;
  width: 400px;
  position: absolute;
  top: 15px;
}
